body {
  &.dark-mode {
    --theme-white: #ffffff;
    --theme-secondary-white: #9499a4;
    --theme-yellow: #e5d99a;
    --theme-green: #4fcd68;
    --theme-blue: #58b7f3;
    --theme-bg: #292c34;
  }
  &.light-mode {
    --theme-white: #000000; /* Black for contrast */
    --theme-secondary-white: #898c96; /* Darker grey for contrast */
    --theme-yellow: #b8b84f; /* Lighter, soft yellow */
    --theme-green: #4d965c; /* Lighter, soft green */
    --theme-blue: #4382ac; /* Lighter, soft blue */
    --theme-bg: #f0f1f5; /* Light grey background */
  }
}

.base-text-styles {
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--theme-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  @extend .base-text-styles;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-white);
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.terminal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
  white-space: pre;
}

.output {
  @extend .base-text-styles;

  &.active {
    color: var(--theme-green);
    position: relative;

    &:after {
      content: "\27A4";
      position: absolute;
      display: inline-block;
      transform: rotate(180deg);
      color: var(--theme-green);
      font-size: 1rem;
      margin: 0 auto;
      margin-left: 0.3rem;
    }
  }
}

::selection {
  background-color: var(--theme-yellow);
  color: var(--theme-bg);
}

span {
  &.muted {
    color: var(--theme-yellow);
  }
  &.curr-dir {
    color: var(--theme-blue);
  }
  &.curr-in {
    color: var(--theme-white);
  }
  &.curr-user {
    color: var(--theme-yellow);
  }
  &.help-command {
    width: 135px;
    display: inline-block;
  }
  &.response {
    margin-left: 1.5rem;
    color: var(--theme-green);
  }
  &.user-input {
    color: var(--theme-secondary-white);
  }
  &.highlight {
    color: var(--theme-green);
  }
  &.prompt {
    margin-right: 0.3em;
    color: var(--theme-white);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input {
  display: flex;
  width: 100%;

  input {
    @extend .base-text-styles;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 0.3em;
    padding: 0;
    width: 100%;
  }
}

// Utility styles
a {
  color: var(--theme-white);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--theme-secondary-white);
  position: relative;
}
