.base-text-styles {
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(230, 230, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  @extend .base-text-styles;
}

body {
  background-color: #292c34;
  color: white;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.terminal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
  white-space: pre;
}

.output {
  @extend .base-text-styles;

  &.active {
    color: #4fcd68;
    position: relative;

    &:after {
      content: "\27A4";
      position: absolute;
      display: inline-block;
      transform: rotate(180deg);
      color: #4fcd68;
      font-size: 1rem;
      margin: 0 auto;
      margin-left: 0.3rem;
    }
  }
}

::selection {
  background-color: #c2ce75;
  color: #000000;
}

span {
  &.muted {
    color: #e5d99a;
  }
  &.curr-dir {
    color: #58b7f3;
  }
  &.curr-in {
    color: white;
  }
  &.curr-user {
    color: #e5d99a;
  }
  &.help-command {
    width: 135px;
    display: inline-block;
  }
  &.response {
    margin-left: 1.5rem;
    color: #91c871;
  }
  &.user-input {
    color: #919191;
  }
  &.highlight {
    color: #7fd09a;
  }
  &.prompt {
    margin-right: 0.3em;
    color: #ffffff;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input {
  display: flex;
  width: 100%;

  input {
    @extend .base-text-styles;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 0.3em;
    padding: 0;
    width: 100%;
  }
}

// Utility styles
a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: #e1e1e1a3;
  position: relative;
}
